body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  color: #3E3A39;
  border: #bdbebe;
}
p{
    color: #3E3A39;
}
.note-a{
    text-decoration: none;
}
.pink{
    color: #AA1D45;
}
.title-s{
    padding: 3px 10px;
    font-size: small;
    color: white;
    font-weight: lighter;
    background-color: #3E3A39;
    border-bottom: solid 3px #E0C6E1;
}
.title{
    font-size: xx-large;
}
.section{
    border-right: solid 1px #bdbebe;
    border-bottom: solid 1px #bdbebe;
}
.section p{
    margin-top: 10px;
}
.section-link a{
    text-decoration: none;
    color: #3E3A39;
}

.section-link{
    padding: 10px;
    width: 100px;
    border-bottom: solid 1px #AA1D45;
}
.title-d{
    border-left: solid 1px black;
    padding: 0px 20px;
    margin: 10px 0px;
}
.title-dl{
    padding: 0px 20px;
    margin: 10px 0px;
}
@media (min-width: 	960px) {
    .title-d{
        border-left: solid 0px black;
    }
}
.footer-block{
    border-top: #aaaaaa solid 1px;
    background-color: #E995AD;
}
.img-note{
    width: 100%;
    height: auto;
}
.date{
    color: #AA1D45;
    font-size: smaller;
}
.bar-link a{
    text-decoration: none;
}
.bar-link a:hover p{ 
    color: #AA1D45;
}
.bar-link p{
    color: #a2a2a2;
    margin: 10px 0px;
}